* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background: #ccc;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

body {
    background: #e9e9e9;
}

header {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo {
    color: #fff;
    font-size: 20px;
}

header .logo img {
    width: 100px;
    vertical-align: top;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

header nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    background: #c0392b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
}

header nav a:hover {
    background: #e74c3c;
}

.imgcontacto {
    width: 100%;
}

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    margin: auto;
    border: 2px solid blue;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: #F1F2F2;
}

form input {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #9EB1E7;
}

form input:hover {
    border: 2px solid blue;
}

form textarea:hover {
    border: 2px solid blue;
}

form textarea {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #9EB1E7;
}

form div {
    width: 90%;
    margin: auto;
}

.boton {
    width: 50%;
    border-radius: 10px;
}

aside {
    width: 50%;
}

aside img {
    width: 100%;
    margin: auto;
    padding: 20px;
}

footer {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .link {
    background: #c0392b;
    display: flex;
    flex-wrap: wrap;
}

footer .link a {
    flex-grow: 1;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

footer .link a:hover {
    background: #E74C3C;
}

footer .social {
    background: #E74C3C;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

@media screen and (max-width:800px) {
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0px;
    }
    header .logo {
        margin: 20px 0;
    }
    header nav {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    footer .social {
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    .formulario {
        width: 90%;
        margin: auto;
    }
    aside {
        width: 90%;
        margin: auto;
    }
    aside div {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width:800px) {
    form {
        margin-bottom: 10px;
    }
}