* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background: #ccc;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

body {
    background: #e9e9e9;
}

header {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo {
    color: #fff;
    font-size: 20px;
}

header .logo img {
    width: 100px;
    vertical-align: top;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

header nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    background: #c0392b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
}

header nav a:hover {
    background: #e74c3c;
}

.main {
    background: white;
    padding: 20px;
    flex: 1 1 70%;
    border: 5px solid blue;
    border-top: 0px;
}

.main h2 {
    font-family: 'Anton', sans-serif;
    color: #6384CB;
    font-size: 30px;
}

.main p {
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
}

.main .cursos {
    list-style: circle;
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
}

.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main article:nth-last-child(1) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: none
}

aside {
    background: #4682B4;
    padding: 20px;
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

aside .widget {
    background: #F0FFF0;
    margin: 10px;
    height: 150px;
    width: 95%;
}

aside .imagen1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imagen {
    width: 100%;
}

footer {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .link {
    background: #c0392b;
    display: flex;
    flex-wrap: wrap;
}

footer .link a {
    flex-grow: 1;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

footer .link a:hover {
    background: #E74C3C;
}

footer .social {
    background: #E74C3C;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

@media screen and (max-width:800px) {
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0px;
    }
    header .logo {
        margin: 20px 0;
    }
    header nav {
        width: 100%;
    }
    aside {
        flex-direction: row;
    }
    aside .widget {
        flex-grow: 1;
    }
    footer {
        flex-direction: column;
    }
    footer .social {
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}


/*slider*/

.slider {
    width: 100%;
    height: 500px;
    border: 5px solid grey;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    padding: 0px;
    width: 400%;
    display: flex;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}