* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background: #ccc;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

body {
    background: #e9e9e9;
}

header {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo {
    color: #fff;
    font-size: 20px;
}

header .logo img {
    width: 100px;
    vertical-align: top;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

header nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    background: #c0392b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
}

header nav a:hover {
    background: #e74c3c;
}

.nosotros {
    width: 100%;
}

.articulo {
    max-width: 38%;
    font-family: 'Kanit', sans-serif;
    border: 3px solid #577EEC;
    background: #A7B0CA;
    margin: 1%;
}

.articulo h2 {
    font-size: 30px;
}

.articulo article {
    padding: 20px;
}

aside {
    width: 60%;
    font-family: 'Kanit', sans-serif;
}

aside img {
    width: 100%;
    padding: 10px;
}

footer {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .link {
    background: #c0392b;
    display: flex;
    flex-wrap: wrap;
}

footer .link a {
    flex-grow: 1;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

footer .link a:hover {
    background: #E74C3C;
}

footer .social {
    background: #E74C3C;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

@media screen and (max-width:800px) {
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0px;
    }
    header .logo {
        margin: 20px 0;
    }
    header nav {
        width: 100%;
    }
    .articulo {
        max-width: 100%;
    }
    aside {
        width: 100%;
    }
}